<!DOCTYPE html>
{% load static %} 
<html>
<head>
	<title> My Site</title>
</head>
<body>
<h1> Hello There </h1>
<form action="\click\">{% csrf_token %}
<button type="submit">Submit</button>
{{pic}}
{% for e in pic %}
<img src="{% static 'images/{{e}}' %}"/>
{{e}}
images/{{e}}
{% endfor %}
<a href="#"> <img src="{% static 'images/0.png' %}"/></a>
<img src="{% static 'images/1.png' %}"/>
{{name}} was clicked
</form>
</body>
</html>