<!DOCTYPE html>
{% load static %} 
<html>
<head>
	<title> My Site</title>
</head>
<body>
<h1> Hello There </h1>
<form action="\click\">{% csrf_token %}
<button type="submit">Submit</button><br>
{% for i in pic %}
<img src="{% static 'images/{{i}}' %}"/>{{i}}<br>
{% endfor %}
<br>
<img src="{% static 'images/0.png' %}"/>

</form>
</body>
</html>