<!DOCTYPE html>
{% load static %} 
<html>
<head>
	<title>TEST</title>
</head>
<body>
{% for i in img %}
	<a href="/encode/{{i.imageid}}"> <img src="{{ i.image.url }}"> </a>
	
	<br>
	<br>{{i.image.url }}
{% endfor %}

<!-- <img src="{% static 'images/1.png' %}"/> -->

</body>
</html>